* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border
   
}

.quizColors {
    display: flex;
    flex-direction: column;

}

fieldset {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: antiquewhite;
   
}

article {
    display: flex;
    flex-direction: column;
 

}

div {
    height: 20%;
    padding:40px;
    text-align: center;
}


h1 {
    text-align: center;
    padding: 10%;
}

div:nth-child(1) {
    background: rgb(132, 212, 199);
}

div:nth-child(2) {
    background: rgb(124, 198, 208);
}

div:nth-child(3) {
    background: rgb(246, 99, 136);
}

div:nth-child(4) {
    background: rgb(232, 170, 99);
}



#comenzar {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.answer {

    padding: 60px;
}

.answerVerde {

    background-color: green;
}






@media screen and(max-width: 768px) {}

@media screen and(max-width: 600px) {}